* {
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("./assets/images/background.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    margin: 0;
}

.navbar {
  display: flex; 
  justify-content: flex-end; 
  align-items: center;
  padding: 10px 20px;
  background-color: #54A678;
}

.shortcuts {
  background-color: #54A678;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  transition: 0.3s ease-in-out; 
}

.shortcuts:hover {
  background-color: #4B946B;
}

.shortcuts a {
  font-size: medium;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline-block; 
}

.shortcuts:hover a {
  color: black;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.home-button {
    display: inline-block;  
    width: 45px;           
    height: 45px;           
    background: url('./assets/images/HomeButton.png') no-repeat center/cover;
    text-decoration: none; 
}
