.container {
    background: white;
    margin: 60px auto; 
    border-radius: 20px;
    text-align: center;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.text-container {
    width: 90%; 
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin: 60px;

}

.text-container p {
    width: 100%; 
    font-size: x-large;
    font-weight: 600; 
}

.image-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.image-container img {
    width: 30%; 
    height: auto;
}


