.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: auto;
}

.ServiceHeading {
    background: white;
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding: 30px;
    text-align: center;
    margin: 10px 10%;
    border-radius: 25px;
}

.box {
    width: 1500px;  
    min-height: 350px; 
    height: auto;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    overflow-wrap: break-word; 
}

.box h2 {
    font-size: 36px; 
    margin-bottom: 10px;
}

.box p {
    font-size: 22px;
    font-weight: bold;
    flex-grow: 1; 
    padding: 10px;
    
}

.box1 {
    background-image: url('./assets/images/div1.png');
}

.box2 {
    background-image: url('./assets/images/div2.jpg');
}

.box3 {
    background-image: url('./assets/images/div3.png');
}

.box:hover {
    transform: scale(1.05);
    opacity: 0.9;
    text-decoration: none;
}


@media (max-width: 768px) {
    .box {
        width: 100%; 
        min-height: auto; 
    }

    .box h2 {
        font-size: 28px;
    }

    .box p {
        font-size: 20px;
    }
}

.box p , .box h2{
    color: white; 
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black; 
    font-weight: bold;
    text-decoration: none;
}