
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: auto;
}

.ServiceHeading{
    background: white;
    font-family: Calibri, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding: 30px;
    align-content: center;
    margin: 10px 10% 10px 10%;
    border-radius: 25px;
}

.box {
    width: 350px;  
    height : 350px; 
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.box h2, .box p {
    position: relative;
    z-index: 1;
    margin: 10px;
}


.box1 {
    background-image: url('./assets/images/div1.png');
}

.box2 {
    background-image: url('./assets/images/div2.jpg');
}

.box3 {
    background-image: url('./assets/images/div3.png');
}

.box:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
